<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MathForKidsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="חשבון לילדים"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathForKids"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:layoutDirection="rtl"
            android:theme="@style/Theme.MathForKids">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
